<form (ngSubmit)="onSubmit()" class="mb-8" *ngIf="isLoggedIn">
  <div class="flex rounded-md shadow-sm">
    <input
      type="text"
      name="task"
      id="task"
      [(ngModel)]="newTodoTitle"
      class="focus:ring-gray-500 focus:border-gray-500 flex-1 block w-full rounded-md sm:text-sm border-gray-300"
      placeholder="Add a new task" />
    <button
      type="submit"
      class="ml-3 inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-gray-800 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
      Add
    </button>
  </div>
</form>
